bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/PackageDependencies
bin/Debug/net7.0/PackageDependencies.deps.json
bin/Debug/net7.0/PackageDependencies.dll
bin/Debug/net7.0/PackageDependencies.pdb
bin/Debug/net7.0/PackageDependencies.runtimeconfig.json
obj/PackageDependencies.csproj.nuget.dgspec.json
obj/PackageDependencies.csproj.nuget.g.props
obj/PackageDependencies.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/PackageDependencies.AssemblyInfo.cs
obj/Debug/net7.0/PackageDependencies.AssemblyInfoInputs.cache
obj/Debug/net7.0/PackageDependencies.assets.cache
obj/Debug/net7.0/PackageDependencies.csproj.AssemblyReference.cache
obj/Debug/net7.0/PackageDependencies.csproj.CopyComplete
obj/Debug/net7.0/PackageDependencies.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/PackageDependencies.csproj.FileListAbsolute.txt
obj/Debug/net7.0/PackageDependencies.dll
obj/Debug/net7.0/PackageDependencies.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/PackageDependencies.genruntimeconfig.cache
obj/Debug/net7.0/PackageDependencies.GlobalUsings.g.cs
obj/Debug/net7.0/PackageDependencies.pdb
obj/Debug/net7.0/ref/PackageDependencies.dll
obj/Debug/net7.0/refint/PackageDependencies.dll
